.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.nav-bar-horizontal > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
.nav-bar-horizontal li {
  float: left;
}
.nav-bar-horizontal li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.nav-bar-horizontal li a:hover:not(.active) {
  background-color: #111;
}
.nav-bar-horizontal .active {
  background-color: #04aa6d;
}
.pokemon-list-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 25px 0 25px;
}
.pokemon__card {
  padding: 5px;
  transition: transform 0.2s;
  cursor: pointer;
}
.pokemon__card:hover {
  transform: scale(1.1);
}
.pokemon__image {
  background-color: #f2f2f2;
  border-radius: 5px;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  z-index: 1000;
  min-width: 500px;
  border-radius: 5px;
}
.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal__header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1.25rem;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}
.pokemon__information > p {
  margin-top: 0;
  margin-bottom: 0;
  text-align: left;
}
.pokemon__id {
  font-size: 10px;
}
.pokemon__name {
  text-transform: capitalize;
}
.pokemon-detail__information {
  display: flex;
  justify-content: center;
}
.pokemon__types,
.pokemon__abilities {
  overflow: auto;
  max-height: 200px;
}
.pokemon-detail__information .pokemon__types,
.pokemon-detail__information .pokemon__abilities {
  margin-right: 15px;
}
.pokemon-detail__information .pokemon__abilities,
.pokemon-detail__information .pokemon__hweight {
  margin-left: 15px;
}
.pokemon-detail__sprite {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pokemon-detail__sprite img,
.pokemon-detail__sprite button {
  max-width: 150px;
}
